body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #555;
  text-decoration: none;
}

.title {
  color: #000;
}

.space{
  border: solid 2px black;
}

ul {
  text-decoration: none;
  list-style: none;
}

#navigation {
  display: inline;
  text-align: right;
  list-style-type: none;
}
