extends ../layout

link(rel='stylesheet', href='//code.jquery.com/ui/1.11.4/themes/ui-darkness/jquery-ui.css')
script(src='//code.jquery.com/jquery-3.0.0.min.js')
script(src='//code.jquery.com/ui/1.11.4/jquery-ui.min.js')
script.
  $(function() {
  $("#datepickerFrom").datepicker({
    minDate: 0

  });
  $("#datepickerTo").datepicker({
    minDate: 0
  });
  });

block content
  h1(class="title") Book a Space
  ul(id='container')
    each space, i in spacesList
      li(id='spacelist')
        h4(id='spaceTitle') #{space.spacename} 
        h5(id='spaceDescription') #{space.description}
  a(href='/spaces/new') Let your space
