doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='//code.jquery.com/ui/1.11.3/themes/ui-darkness/jquery-ui.css')
    script(src='//code.jquery.com/jquery-2.1.4.min.js')
    script(src='//code.jquery.com/ui/1.11.3/jquery-ui.min.js')
    script.
      $(function() {
      $("#datepickerFrom").datepicker({
        minDate: 0

      });
      $("#datepickerTo").datepicker({
        minDate: 0
      });
      });
  body
    nav(id='navigation')
      ul
        li
          a(href='/users/login') Login
    block content
