doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')

  body
    nav(id='navigation')
      ul
        li 
          a(href='/users/login') Login
    block content
